.navbar-brand {
  color: blueviolet !important;
  font-weight: bold;
}

body {
  background-image: url("../ignasi_pattern_s.png");
}

/*Change color of Contact*/
.text-blue {
  color: blueviolet;
}

/*Change button color*/
.btn-success {
  color: #fff;
  background-color: blueviolet;
  border-color: blueviolet;
}

/*Make border color green on the footer*/
.border-green {
  border-color: blueviolet !important;
  border-width: 2px;
}
