/*Edit Navbar Name*/
.navbar-brand {
  /* background-color: mediumseagreen; */
  color: dodgerblue !important;
  font-weight: bold;
}

/*Make text green*/
.text-blue {
  color: dodgerblue;
}

/*Set background image*/
body {
  /* background-image: url("assets/images/ignasi_pattern_s.png"); */
  background-color: white;
}

/*Make border on footer green*/
.border-green {
  border-color: dodgerblue !important;
  border-width: 2px;
}

/*Adjust image size*/
.img-thumbnail {
  width: 200px;
}
