.navbar-brand {
  color: blueviolet !important;
  font-weight: bold;
}

.text-blue {
  color: blueviolet;
}

body {
  /* background-image: url("assets/images/ignasi_pattern_s.png"); */
  background-color: whitesmoke;
}

.border-green {
  border-color: blueviolet !important;
  border-width: 2px;
}

.img-thumbnail {
  width: 200px;
}
