/*Edit Navbar Name*/
.navbar-brand {
  /* background-color: mediumseagreen; */
  color: blueviolet !important;
  font-weight: bold;
}

/*Set background image*/
body {
  /* background-image: url("../ignasi_pattern_s.png"); */
}

/*Make portfolio color teal color*/
.text-blue {
  color: blueviolet;
}

/*Make border color on footer green*/
.border-green {
  border-color: mediumseagreen !important;
  border-width: 2px;
}
